:root {
  --primary-300-base: #0065fe;
  --neutral-white: #ffffff;
  --text-color-main-text: #141414;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(./assets/fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(./assets/fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(./assets/fonts/gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(./assets/fonts/gilroy/Gilroy-Regular.ttf);
}

body {
  /* color: var(--primary-300-base, #0065fe); */
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.flat-button {
  color: var(--primary-300-base);
  border: none;
  background-color: var(--neutral-white);
}

.nav-link {
  color: var(--text-color-main-text, #141414) !important;
  font-size: 18px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active {
  color: var(--primary-300-base, #0065fe) !important;
  font-size: 18px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-primary {
  color: var(--primary-300-base, #0065fe);
  font-family: Gilroy-Medium;
}

.try {
  border-radius: 100px;
  padding: 12px 24px;
  background: var(--primary-300-base, #0065fe);
  color: var(--neutral-white, #fff);
  font-size: 16px;
  font-family: Gilroy-SemiBold;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.banner {
  justify-content: center;
  width: 781px;
  margin: 100px auto;
  text-align: center;
}

.banner-head {
  color: #141414;
  text-align: center;
  font-size: 48px;
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
}

.url-shortening {
  background-image: url(./assets/images/url-shortening.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 20px;
}

.banner-text {
  color: var(--text-color-main-text, #141414);
  text-align: center;
  font-size: 18px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.seamlessly-link-container {
  margin-top: 80px;

  display: inline-flex;
  padding: 20px !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-left: 420px;
  background-image: url(./assets/images/triangle-vector.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.seamlessly-link-box {
  padding: 40px 60px !important;
  border-radius: 24px;
  border: 0.5px solid var(--primary-400, #005ae2);
  background: rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(106px);
}

.link-text {
  width: 600px;
}

.pre-stat {
  margin-top: 80px;
  width: 100%;
  height: 93px;
  flex-shrink: 0;
  background-image: url(./assets/images/pre-stat.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stat-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  padding: 60px 140px;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.stat-value {
  color: var(--text-color-main-text, #141414);
  font-size: 32px;
  font-family: Gilroy-SemiBold;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

stat-description {
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.why {
  margin: 130px auto !important;
  display: grid;
  grid-template-columns: 398px 708px;
  gap: 96px;
  justify-content: center;
}

.reasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 64px;
  gap: 20px;
}

.reason-icon {
  margin-bottom: 40px;
}

.styled-header::before {
  content: url(./assets/images/styled-header.svg);
  margin-right: 16px;
  background-size: contain;
}

.text-center {
    text-align: center;
}

.price-heading {
    max-width: 550px;
    margin: 0 auto;
}
