:root {
  --primary-300-base: #0065fe;
  --neutral-white: #ffffff;
  --text-color-main-text: #141414;
  --primary-100: #3284ff;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(./assets/fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(./assets/fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(./assets/fonts/gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(./assets/fonts/gilroy/Gilroy-Regular.ttf);
}

body {
  /* color: var(--primary-300-base, #0065fe); */
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.flat-button {
  color: var(--primary-300-base);
  border: none;
  background-color: var(--neutral-white);
}

.nav-link {
  color: var(--text-color-main-text, #141414) !important;
  font-size: 18px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active {
  color: var(--primary-300-base, #0065fe) !important;
  font-size: 18px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-primary {
  color: var(--primary-300-base, #0065fe);
  font-family: Gilroy-Medium;
}

.try {
  border-radius: 100px;
  padding: 12px 24px;
  background: var(--primary-300-base, #0065fe);
  color: var(--neutral-white, #fff);
  font-size: 16px;
  font-family: Gilroy-SemiBold;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.button-outline {
  font-size: 16px;
  font-family: Gilroy-SemiBold;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  padding: 12px 24px;
  border-radius: 100px;
  border: 1px solid var(--primary-300-base, #0065fe);
  background-color: var(--neutral-white);
  color: var(--primary-300-base);
}

.banner {
  justify-content: center;
  width: 781px;
  margin: 100px auto;
  text-align: center;
}

.banner-head {
  color: #141414;
  text-align: center;
  font-size: 48px;
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
}

.url-shortening {
  background-image: url(./assets/images/url-shortening.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 20px;
}

.banner-text {
  color: var(--text-color-main-text, #141414);
  text-align: center;
  font-size: 18px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.seamlessly-link-container {
  margin-top: 80px;

  display: inline-flex;
  padding: 20px !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-left: 420px;
  background-image: url(./assets/images/triangle-vector.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.seamlessly-link-box {
  padding: 40px 60px !important;
  border-radius: 24px;
  border: 0.5px solid var(--primary-400, #005ae2);
  background: rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(106px);
}

.link-text {
  width: 600px;
}

.pre-stat {
  margin-top: 80px;
  width: 100%;
  height: 93px;
  flex-shrink: 0;
  background-image: url(./assets/images/pre-stat.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stat-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  padding: 60px 140px;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.stat-value {
  color: var(--text-color-main-text, #141414);
  font-size: 32px;
  font-family: Gilroy-SemiBold;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

stat-description {
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.why {
  margin: 130px auto !important;
  display: grid;
  grid-template-columns: 398px 708px;
  gap: 96px;
  justify-content: center;
}

.reasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 64px;
  gap: 20px;
}

.reason-icon {
  margin-bottom: 40px;
}

.styled-header::before {
  content: url(./assets/images/styled-header.svg);
  margin-right: 16px;
  background-size: contain;
}

.text-center {
  text-align: center;
}

.pricing {
  margin: 100px auto;
}

.price-heading {
  max-width: 550px;
  margin: 0 auto;
}

.pricing-cards {
  display: flex;
  padding: 42px 176px 112px 176px;
  align-items: center;
  justify-content: center;
}

.pro-card {
  border-radius: 12px;
  background: var(
    --linear-gradient,
    linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
  );
  color: var(--neutral-white, #fff);
  font-size: 24px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 90px 50px;
  z-index: 2;
  width: 410px;

  /* Drop shadow */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.basic-card,
.teams-card {
  width: 380px;
  border-radius: 12px;
  border: 0.4px solid var(--primary-400, #005ae2);
  background: var(--neutral-white, #fff);
  padding: 20px 50px;

  /* Drop shadow */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.basic-card {
  margin-right: -10px;
}

.teams-card {
  margin-left: -10px;
}

.price-header {
  font-size: 24px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 0;
}

.price-value {
  margin-top: 30px;
  /* H0/Bold */
  font-size: 40px;
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.pricing-feature {
  list-style-type: none;
}

.pricing-feature > li::before {
  content: url(./assets/images/check-circle.svg);
  margin-right: 10px;
}

.pricing-feature > li {
  /* color: var(--text-color-main-text, #141414); */
  font-size: 14px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.feedback-from-container {
  background-image: var(
      --linear-gradient,
      linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
    ),
    url(./assets/images/Group-2.svg), url(./assets/images/Group-3.svg);
  background-blend-mode: difference;
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, bottom right, bottom left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-form {
  border-radius: 12px;
  background: #fff;
  margin: 85px auto;
  display: inline-flex;
  padding: 42px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
}

.others {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.feedback-input {
  border-radius: 12px;
  border: 1px solid var(--primary-100, #3284ff);
  /* height: 55px; */
  padding: 20px;
  width: 100%;
}

input[placeholder] {
  color: var(--primary-100, #3284ff) !important;
  font-size: 12px;
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.faq-container {
    background-image: url(./assets/images/faq-group-3.svg), url(./assets/images/faq-group-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: contain, 30%;
    padding: 50px;
    padding-bottom: 150px;
    background-blend-mode: difference;
}

.faq {
    margin: 0 auto;
    max-width: 900px;

}

.accordion {
    margin-top: 64px;
}

.accordion-button::after {
    background-image: url(./assets/images/plus.svg) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(./assets/images/minus.svg) !important;
}

.accordion-button:not(.collapsed) {
    color: var(--text-color-main-text);
    background-color: var(--neutral-white);
}

.get-started {
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    background-image: url(./assets/images/get-started-1.svg), url(./assets/images/get-started-2.svg), linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-blend-mode: difference;
    padding: 150px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}